default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\HealthCheckContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php